<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>loginpage</display-name>
    <servlet-name>loginpage</servlet-name>
    <servlet-class>javafile.loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpage</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <display-name>ATM WEB PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>javafile.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>balance</display-name>
    <servlet-name>balance</servlet-name>
    <servlet-class>javafile.balance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>balance</servlet-name>
    <url-pattern>/balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction</display-name>
    <servlet-name>transaction</servlet-name>
    <servlet-class>javafile.transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deposit</display-name>
    <servlet-name>deposit</servlet-name>
    <servlet-class>javafile.deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposit</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deposit1</display-name>
    <servlet-name>deposit1</servlet-name>
    <servlet-class>javafile.deposit1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposit1</servlet-name>
    <url-pattern>/deposit1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdraw</display-name>
    <servlet-name>withdraw</servlet-name>
    <servlet-class>javafile.withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepin</display-name>
    <servlet-name>changepin</servlet-name>
    <servlet-class>javafile.changepin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepin</servlet-name>
    <url-pattern>/changepin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fastcash</display-name>
    <servlet-name>fastcash</servlet-name>
    <servlet-class>javafile.fastcash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fastcash</servlet-name>
    <url-pattern>/fastcash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>minitransaction</display-name>
    <servlet-name>minitransaction</servlet-name>
    <servlet-class>javafile.minitransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>minitransaction</servlet-name>
    <url-pattern>/minitransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trans</display-name>
    <servlet-name>trans</servlet-name>
    <servlet-class>javafile.trans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trans</servlet-name>
    <url-pattern>/trans</url-pattern>
  </servlet-mapping>
</web-app>